<nz-layout>
  <nz-header>
   <span class="title">Birthdays</span>
  </nz-header>
  <nz-content class="content">
    <input nz-input placeholder="first name" [(ngModel)]="firstName" />
    <input nz-input placeholder="last name" [(ngModel)]="lastName" />
    <nz-date-picker [(ngModel)]="date"></nz-date-picker>
    <button nz-button nzType="primary" (click)="addPerson()">Add new person</button>
    <span *ngIf="errorMessage.length > 0">{{errorMessage}}</span>
    <ul *ngFor="let person of persons">
      <li>{{person.firstName}}, {{person.lastName}},  {{person.daysRemaining}} day remaining,  becomes {{person.age}} years old</li>
    </ul>
  </nz-content>
</nz-layout>
